#ryanPic {
  border-radius: 6px;
}

h1 {
  color: #333333;
}

p {
  color: #333333;
}

.btn-block {
  width: 500px;
  justify-content: center
}

.nav-title {
  color: white;
}

.fixed-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

h5 {
  text-align: center;
  color: #333333;
}

.featured-work-title {
  color: #5d5d5d;
}

.contact-info {
  color: #5d5d5d;
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.album {
  background-color: #fbfbfb;
  margin-top: 4em;
}

.contact-container {
  margin-top: 4em;
  margin-bottom: 6em;
}

.hero {
  margin-top: 5.5em;
}

.navbar {
  background-color: lightslategray;
}

.nav-link {
  color: white;
}

#logo {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

/* sm */

@media screen and (max-width: 768px) {
  .album {
    margin-top: 0em;
  }
  .hero {
    margin-top: 3em;
  }
  .hero_title {
    padding-top: 15px;
  }
  .btn-social-icon {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-block {
    margin-bottom: 1em;
    width: 75%;
  }
  .contact-container {
    margin-top: 2em;
    margin-bottom: 3em;
  }
}

/* md */

@media screen and (max-width: 992px) {
  .album {
    margin-top: 1em;
  }
  .hero {
    margin-top: 4em;
  }
  .hero_title {
    padding-top: 15px;
  }
  .btn-social-icon {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .btn-block {
    margin-bottom: 1em;
  }
  .contact-container {
    margin-top: 2em;
    margin-bottom: 3em;
  }
}